*{
	margin:0;
	padding: 0;
}



input[type="search"]{
	color: #69a71a;
	width: 99%;
	padding: 0 0 0 10px ;
	background-color: #333333;
	border-radius: 15px; 


}

input[type="text"], input[type="password"] {
	color: #69a71a;
	width: 60%;
	padding: 8px;
}



input, textarea{
	/*outline: none;*/
	border: none;
	border: solid 1px #94b5c4 ;

}

html {
	background-image: url(/home/chef/Desktop/html/coding/assets/img/dark-fabric-02.png);
}

.header {
	/*background-color: #131313;*/
	height: 177px;
	font-size: 0.8em;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 50px;
}

.main, .logo, .menubar, .site_content, .footer {
	margin-left: auto;
	margin-right: auto;
}

.logo {
	width: 880px;
	padding-bottom: 40px;
}

.logo h1, .logo h2 .logo h3 .logo h4{
	font: normal 300% 'arial black', gadget, sans-serif;
	margin: 8px 0 0 0;
}

.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover {
	padding: 2px 0 0 8px;
	color: #4097d2;
	letter-spacing: 0.1em;
	text-decoration: none;
}

.logo_text h1 a:hover{
	color: #65be00;
}

.logo_text h2 {
	font-size: 1.0em;
	padding: 0 0 0 0px;
	color: #94b5c4;
}



/*.menubar {
	width: 1200px;
	height:46px;
}

ul.menu{
	background-image: url(/home/chef/Desktop/html/coding/assets/img/bg-dark-4795.png);
	float: left;
	border-radius: 15px;
	outline: none;
}

ul.menu li {
	float: left;
	padding: 0 0 0 20px;
	list-style: none;
	margin: 1px 30px 0 0;
}

ul.menu li a {
	font: normal 150% 'trebuchet ms', sans-serif ;
	display: block;
	height: 20px;
	padding: 6px 35px 5px 28px;
	color: #94b5c4;
	text-decoration: none;
}

ul.menu li.selected a {
	color: #4097d2;
}

ul.menu li a:hover {
	color: #65be00;
}*/

.menu {
	width: 100%;
	/*height: 150px;*/

	/*background-image: url(/home/chef/Desktop/html/coding/assets/img/bg-dark-4795.png);*/
	background-color:#5558; 
	/*display: table;*/
	border-radius: 15px;
    display: flex;
}

.menu li{
	display: block;
	/*float: left;*/
	position: relative;
	/*display: flex;*/
	margin: 0 auto;
}

.menu li a{
	display: flex;
	padding: 0 20px;
	height: 50px;
	/*text-align: left;*/
	font-family: sans-serif;
	font-size: 1.2em;
	line-height: 49px;
	/*border-right: 5px solid #555;*/
	/*border-left: 5px solid #555;*/
	text-decoration: none;
	transition: 0.5s;
	color: #94b5c4;
	border-radius: 15px;
	
}

.sub-menu {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	z-index: -1;
	transition: .5s;
}

.menu .sub-menu li {
	float: none;
	font-size: .8em
}

.menu .sub-menu li a{
	width: 100%;
	in-width: 100%;
	padding: 0 11px;
	white-space: nowrap;
	text-align: left;
	box-shadow: none;
	border: none;
	/*border-bottom: 1px solid #ddd;*/
}

.menu li:hover a{
	color: #65be00;
	/*background-image: url(/home/chef/Desktop/html/coding/assets/img/classy-fabric.png);*/
	background-color: #555;
	/*box-shadow: 0 0 5px rgba(0, 0, 0, .3) insert;*/

 }

 .menu li:hover .sub-menu a{
 	/*background-image: url(/home/chef/Desktop/html/coding/assets/img/classy-fabric.png);*/
 	background-color: #555;
 	color: #94b5c4;
 	height: 40px;
 	line-height:  40px;
 }

 .menu li:hover .sub-menu a:hover{
 	color: #65be00;
 }

 .menu li a:hover + .sub-menu,
  .sub-menu:hover{
  	display: block;
  }

.menu li:hover > ul{
	visibility: visible;
	opacity: 1;
	z-index: 1;
}


.search {
	width: 1250px;
	height:25px; 
	overflow:hidden;
	margin: 2px auto 0 auto;
	
}

.search_bar {
	float: right;
	width: 1250px;
	/*background-color: #333333;*/
}

.searchbar_container {
	float: right;
	width: 1250px;
	padding: 5%
	margin: 0 0 16px 0;
	
}

/*.value {
	
}*/

.sidebar h2 {
	color
}